<h2 id="title">ember-flexberry-account Dummy</h2>
<nav>
  {{#link-to "login"}}Login{{/link-to}}
  {{#link-to "register"}}Register{{/link-to}}
  {{#link-to "pwd-reset"}}Reset password{{/link-to}}
  {{#link-to "user-profile"}}User profile{{/link-to}}
</nav>

{{outlet}}
